/* Universal styling */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    opacity: 0.9;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Source+Serif+Pro:wght@200;300;600&display=swap');

:root {
    --background-color: #F9F7FE;
    --background-image: linear-gradient(-90deg, #d38312, #a83279);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Serif Pro', serif;
    color:#a83279;
}

 p {
    font-family: "Oswald" sans-serif;
    font-weight: 300;
    color: #00204a;
 }

 .btn-light {
    background-image: var(--background-image);
    color: #fff;
 }

 .btn-light:hover {
    color: #000;
    border-radius: 1px solid #a83279 !important;
    transition: all 200ms ease-in-out;
 }

/* Navigation */

.custom-item {
    background-image: linear-gradient(-90deg, #d38312, #a83279);
    background-color: transparent!important;
}

.nav-link {
    font-size: 1.2em;
    margin: 5px;
    color: #fff!important;
    font-weight: 300;
}

.navbar-nav {
    text-align: left;
    margin-right: 20px;
    margin-top: 10px;
}

.custom-nav .navbar-toggler {
    padding-right: 20px;
    outline: none!important;
    border: none!important;
}

.navbar .fa {
    color: #fff!important;
    font-size: 20px;
}

.navbar .fa:hover {
    color: #00204a !important;
    transition: all 200ms ease-in-out!important;
}

.nav-link:hover {
    font-weight: 600;
    border-bottom: 2px solid #fff;
    transition: 0.5s ease;
}

.navbar-nav:hover .nav-item .nav-link {
    border-bottom: none!important;
    color: white;
}

.navbar-nav:hover .nav-item .nav-link:not(:hover) {
    color: #fff;
    opacity: 0.3;
    filter: blur(1px);
}

.navbar-brand {
    margin-top: 5px;
    font-size: 1.8em;
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
}

/* Skills */

 .icon-languages {
    font-size: 4em;
    color: #d38312;
 }

 .technology small {
    display: block;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
 }


/* Jumbotron */

.jumbotron {
    background-image: url(../images/twitter-link-gina.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.jumbotron p {
    color: #fff;
}

.container-jumbo {
    width: 90%;
    /* min-width: 500px; */
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: center;
}

p.lead {
    font-size: 24px;
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
    color: #00204a;
    padding: 15px;
    border-radius: 5px;
}

/* My work */
.card {
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.2em;
}

.card-text {
    font-size: 1em;
    margin-bottom: 10px;
}

#programming-skills {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.skills .technologies{
    font-weight: 100;
}

/* footer */

.footer .fa {
    font-size: 2em;
    color: #fff;
    margin: 0 35px;
}

.footer .fa:hover {
    color: #00204a;
    transition: all 200ms ease-in-out;
}

@media only screen and (max-width: 1000px) {
    .jumbotron {
        background-position: center;
    }

    .nav-link:hover {
        border-bottom: none!important;
    }
}

@media only screen and (max-width: 768px) {
    .jumbotron {
        background-image: url(../images/insta-stories-gina.jpg);
        background-position: center center;
        min-height: 60vh;
    }

    .jumbotron p {
        margin-top: 100px;
        width: auto;
        font-size: 1.2em;
    }

    .jumbotron h1 {
        display: none;
    }

    .container-jumbo {
        max-width: auto;
    }
}

@media only screen and (min-width: 575px) {
    body {
        justify-content: center;
        align-items: center;
    }

    .jumbotron {
        background-position: center center;
    }

    .technology small {
        margin-bottom: 15px;
    }
}
